*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #595959;
}

.containar{
   width: 350px;
    background-color: #424141;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(166, 164, 164, 0.1);
    border: 1px solid #ccc;
   
}

.Calculator form input{
    width: 50px;
  background-color:transparent;
    height: 50px;
    border-radius:50%;
    margin: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    font-size: 21px;
    font-weight: bold;
    box-shadow: 3px 3px 3px 3px rgba(214, 208, 208, 0.5);
    
}

form .display{
display: flex;
justify-content: end;

}
form .display input{
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: right;
    font-size: 24px;
    padding-right: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #fbf6f6;
    box-shadow: inset 0 0 5px rgba(216, 216, 216, 0.2);
    text-align: right;
    font-size: 45px;
}
 .eual_btn{

}