*{
    padding: 0px;
    margin: 0p;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
   height: 100vh;
    width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
  /* background-image: url(assets/bg.jpg); */
  background-color:gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}


.calculator{
    width: 500px;
   border: 1px solid rgb(21, 21, 21);
   box-shadow: -2px -5px 10px rgb(77, 76, 76);
   padding: 30px;
   border-radius:16px ;
   
   
}
.input{
    width: 90%;
    outline: none;
  
    border-radius: 15px;
    box-shadow: 3px 4px 2px 0.15px rgb(70, 69, 69);
    background: transparent;
    border: 1px solid rgb(17, 17, 17);
    text-align: right;
    font-size: 40px;
    margin: 20px;
    padding: 20px;
   
}
.input::placeholder{
    color: rgb(15, 14, 14);
    font-size: 40px;
}


button{
    width:60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: transparent;
    box-shadow: -1px -1px  15px rgb(15, 15, 15);
    color: rgb(15, 15, 15);
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
   
}